@import url("https://fonts.googleapis.com/css?family=Gravitas+One");
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat');

//variables
$Yellow: #FFE082;
$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;
$Black: #212121;
$Light-blue: #31A5FF;
$White: #fafafa;
$Off-white: oldlace;
$Grey: #e0e0e0;
$Light-grey: #f7f7f7;
$Orange: #ff9900;
$image-width: 250px;
$image-height: 250px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(20, 20, 20, 0.03), rgba(20, 20, 20, 0.03)), $White;
}

.gradientMe {
    background: linear-gradient(rgba(20, 20, 20, 0.03), rgba(20, 20, 20, 0.03));
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content
        }

        ; //600px
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content
        }

        ; //900px
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }

        ; //1800
    }
}